.no-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: indianred;
    color: white;
  }

  .highlight {
    background-color: yellow;
    padding: 10px;
  }
  